{{#if @data}}
  <div class="qa-fact">
    <div class="blockquote">
      <h2 class="qa-fact-value">
        {{highlight @data.value}}
      </h2>
      <h4>
        <img src="/img/full.png" height="150" alt="Chuck Norris doodle">
        <span class="qa-fact-author">&mdash; Someone about <em>Chuck Norris</em></span>
      </h4>
    </div>
  </div>
{{/if}}
