{{page-title "Home"}}

<Fact @data={{this.data}} />

<button
  class="button qa-fact-btn"
  {{on "click" (action this.random)}}
>
  <span class="red">see</span>&nbsp;<span class="white">more...</span>
</button>
