{{page-title "404"}}

<div class="wrapper">
  <h2 class="red title">
    You don't found this page but you know,
    Chuck Norris can found you...
  </h2>

  <LinkTo class="white center go-back-link qa-link" @route="home">
    Go back!
  </LinkTo>
</div>
